@{
    ViewData["Title"] = "Confirmação de Pedido";
}

<div class="alert alert-success mt-4">
    <h4>@ViewBag.Mensagem</h4>
    <p>Seu pedido foi enviado para o administrador. Você será notificado assim que ele for entregue.</p>
    <a class="btn btn-outline-primary" href="/Home/Index">Voltar à Loja</a>
</div>
