@model int

<li class="nav-item dropdown">
    <a class="nav-link position-relative" href="@Url.Action("Todas", "AdminNotificacoes", new { area = "Admin" })">
        <i class="fas fa-bell" style="color: #ffff;"></i> 
        @if (Model > 0)
        {
            <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle">
                @Model
            </span>
        }
    </a>
</li>
