<div class="container" >
    <div class="container-fluid bg-primary">
        <h1 class="text-center">Sobre nós</h1>
        <p class="text-center">SiteLixeiras é uma plataforma dedicada a conectar pessoas que desejam descartar seus resíduos de forma responsável e sustentável. Nossa missão é facilitar o acesso a informações sobre pontos de coleta, reciclagem e descarte adequado de materiais, promovendo a conscientização ambiental e contribuindo para um futuro mais limpo e saudável.</p>
    </div>
</div>