@model List<SiteLixeiras.Models.Produtos>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="lh-sm text-primary">Design de lixeiras de luxo de resina</h1>
            <p class="py-5 lh-lg">As lixeiras de luxo de resina são uma excelente opção para quem busca aliar funcionalidade e estética em ambientes urbanos.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/imagens/Lixeira.png" alt="imagem de lixeira" class="img-fluid" />
        </div>
    </div>

    <div class="row mt-5">
        @foreach (var produto in Model)
        {
            <div class="col-md-4 mb-4">
                @await Html.PartialAsync("_Produtos", produto)  
            </div>
        }
    </div>
</div>
